*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  color-scheme: light dark;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
iframe,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

::root {
    --clr-text: #040316;
    --clr-background: #FBFBFE;
    --clr-accent: #443DFF;
    --clr-button-primary: #2F27CE;
    --clr-button-secondary: #DDDBFF;
    
    --default-font: 'Roboto', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --fs-10: 10px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-28: 28px;
}

@media(prefer-system-scheme: dark) {
    ::root {
        --clr-text: #ECE9FC;
        --clr-background: #010104;
        --clr-accent: #0600C2;
        --clr-button-primary: #3A31D8;
        --clr-button-secondary: #020024;
    }
}

