*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  color-scheme: light dark;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
iframe,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
    --clr-text: #040316;
    --clr-background: #FBFBFE;
    --clr-accent: #443DFF;
    --clr-button-primary: #2F27CE;
    --clr-button-secondary: #DDDBFF;
    
    --default-font: 'Roboto', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --fs-100: 10px;
    --fs-200: 16px;
    --fs-300: 18px;
    --fs-400: 24px;
    --fs-500: 28px;
    --fs-600: 32px; 
}

@media(prefer-system-scheme: dark) {
    :root {
        --clr-text: #ECE9FC;
        --clr-background: #010104;
        --clr-accent: #0600C2;
        --clr-button-primary: #3A31D8;
        --clr-button-secondary: #020024;
    }
}

body {
  --side-margin: min(1rem, 100%);
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--default-font);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
}

.h1-and-a-half {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
}

.h2 {
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
}

.h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-700);
}

p {
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
}

header {
  margin: 40px var(--side-margin) 0px var(--side-margin);
}

main {
  margin: 0px var(--side-margin);
}

section {
  margin: 0px 0px 216px 0;
}
